@import "../../../styles/index.scss";

.landing {
    width: 100%;
    height: 100vh;

    .landingBreak {
        padding: 0.8rem;
    }

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: inherit;
        height: inherit;
        object-fit: cover;
        z-index: -100;
    }

    .landingFlag {
        display: none;
        position: absolute;
        color: $bodyTextColorAlt;
        z-index: -50;
    }

    .landingContent {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: right;
        width: 65vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;

        .landingHeader {
            padding: 1.5rem;
            font-size: 1.6rem;
            font-weight: 400;
            color: $bodyTextColorAlt;
            border-radius: 0.5rem;
            background-color: #1b2326;
            box-shadow: 0 0 50px $headerFooterBackgroundColor;
        }

        .landingOverview {
            padding: 1.5rem;
            font-size: 1.4rem;
            font-weight: 200;
            color: $bodyTextColorAlt;
            border-radius: 0.5rem;
            background-color: #1b2326;
            box-shadow: 0 0 50px $headerFooterBackgroundColor;
        }

        .landingLearnMore {
            padding: 1rem 1.5rem;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            font-size: 1.1rem;
            font-weight: 300;
            color: $bodyTextColorAlt;
            text-decoration: none;
            border-radius: 0.5rem;
            background-color: #1b2326;
            box-shadow: 0 0 50px $headerFooterBackgroundColor;
            transition: all 0.3s ease 0s;
            
            div {
                float: left;
                padding: 0 0.5rem;
            }

            div, .landingFAIcon {
                transition: all 0.3s ease 0s;
            }

            &:hover>div {
                text-shadow: 0 0 20px $highlightColor;
                transform: scale(1.05);
            }

            &:hover>.landingFAIcon {
                filter: drop-shadow(0 0 20px $highlightColor);
                transform: scale(1.1);
            }
        }
    }
}

@media all and (max-width: 960px){
    .landing {
        .landingFlag {
            display: none;
        }

        .landingContent {
            .landingHeader {
                font-size: 1.4rem;
            }

            .landingOverview {
                font-size: 1.2rem;
            }
        }
    }
}

@media all and (max-width: 720px){
    .landing {
        .landingContent {
            align-items: center;
            text-align: center;

            .landingLearnMore {
                font-size: 1rem;
            }
        }
    }
}

@media all and (max-width: 480px){
    .landing {
        .landingContent {
            .landingHeader {
                font-size: 1.2rem;
            }

            .landingOverview {
                font-size: 1rem;
            }

            .landingLearnMore {
                font-size: 0.8rem;
            }
        }
    }
}