* {
  scroll-behavior: smooth;
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: #232323;
}

::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: #ffd600;
}

@media all and (min-width: 2401px) {
  :root {
    font-size: 18px;
  }
}

@media all and (max-width: 2400px) {
  :root {
    font-size: 17px;
  }
}

@media all and (max-width: 1920px) {
  :root {
    font-size: 16px;
  }
}

@media all and (max-width: 1440px) {
  :root {
    font-size: 15px;
  }
}

@media all and (max-width: 960px) {
  :root {
    font-size: 14px;
  }
}

@media all and (max-width: 480px) {
  :root {
    font-size: 13px;
  }
}

@-webkit-keyframes glitchHeader {
  0% {
  }
  10% {
    text-shadow: 0.05rem 0 0.4rem #e41376;
  }
  20% {
    text-shadow: -0.05rem 0 0.6rem #01cbee;
  }
  30% {
    text-shadow: 0.05rem 0.05rem 0.4rem #e41376;
  }
  40% {
    text-shadow: 0.05rem 0 0.4rem #e41376;
  }
  50% {
    text-shadow: -0.05rem -0.05rem 0.4rem #01cbee;
  }
  60% {
  }
  70% {
    text-shadow: -0.05rem 0.05rem 0.6rem #01cbee;
  }
  80% {
    text-shadow: -0.05rem 0 0.4rem #01cbee;
  }
  90% {
    text-shadow: 0.05rem -0.05rem 0.6rem #e41376;
  }
  100% {
    text-shadow: -0.05rem 0 0.4rem #01cbee;
  }
}

@keyframes glitchHeader {
  0% {
  }
  10% {
    text-shadow: 0.05rem 0 0.4rem #e41376;
  }
  20% {
    text-shadow: -0.05rem 0 0.6rem #01cbee;
  }
  30% {
    text-shadow: 0.05rem 0.05rem 0.4rem #e41376;
  }
  40% {
    text-shadow: 0.05rem 0 0.4rem #e41376;
  }
  50% {
    text-shadow: -0.05rem -0.05rem 0.4rem #01cbee;
  }
  60% {
  }
  70% {
    text-shadow: -0.05rem 0.05rem 0.6rem #01cbee;
  }
  80% {
    text-shadow: -0.05rem 0 0.4rem #01cbee;
  }
  90% {
    text-shadow: 0.05rem -0.05rem 0.6rem #e41376;
  }
  100% {
    text-shadow: -0.05rem 0 0.4rem #01cbee;
  }
}

.landing {
  width: 100%;
  height: 100vh;
}

.landing .landingBreak {
  padding: 0.8rem;
}

.landing img {
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -100;
}

.landing .landingFlag {
  position: absolute;
  right: 1rem;
  color: #f3f1f1;
  z-index: -50;
}

.landing .landingContent {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  width: 60vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.landing .landingContent .landingHeader {
  padding: 1.5rem;
  font-size: 1.6rem;
  font-weight: 500;
  color: #f3f1f1;
  border-radius: 0.5rem;
  background-color: #181510;
  -webkit-box-shadow: 0 0 20px #181510;
          box-shadow: 0 0 20px #181510;
  -webkit-animation: glitchHeader 4s ease-in-out forwards infinite;
          animation: glitchHeader 4s ease-in-out forwards infinite;
}

.landing .landingContent .landingOverview {
  padding: 1.5rem;
  font-size: 1.4rem;
  font-weight: 300;
  color: #f3f1f1;
  border-radius: 0.5rem;
  background-color: #181510;
  -webkit-box-shadow: 0 0 20px #181510;
          box-shadow: 0 0 20px #181510;
}

.landing .landingLearnMore {
  position: absolute;
  left: 50%;
  bottom: 5rem;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-decoration: none;
  text-align: center;
  color: #ffffff;
}

.landing .landingLearnMore .landingFAIcon {
  font-size: 2rem;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.landing .landingLearnMore div {
  font-size: 1.2rem;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.landing .landingLearnMore:hover > .landingFAIcon {
  -webkit-transform: scale(1.1) translateY(-0.5rem);
          transform: scale(1.1) translateY(-0.5rem);
  -webkit-filter: drop-shadow(0 0 20px #ffd600);
          filter: drop-shadow(0 0 20px #ffd600);
}

.landing .landingLearnMore:hover > div {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  text-shadow: 0 0 20px #ffd600;
}
/*# sourceMappingURL=landing.css.map */