@import "../../../styles/index.scss";

.landing {
    width: 100%;
    height: 100vh;

    .landingBreak {
        padding: 0.8rem;
    }

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: inherit;
        height: inherit;
        object-fit: cover;
        z-index: -100;
    }

    .landingFlag {
        position: absolute;
        right: 1rem;
        color: $bodyTextColorAlt;
        z-index: -50;
    }

    .landingContent {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: right;
        width: 65vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;

        .landingHeader {
            padding: 1.5rem;
            font-size: 1.6rem;
            font-weight: 400;
            color: $bodyTextColorAlt;
            border-radius: 0.5rem;
            background-color: #1b2326;
            box-shadow: 0 0 20px $headerFooterBackgroundColor;
        }

        .landingOverview {
            padding: 1.5rem;
            font-size: 1.4rem;
            font-weight: 200;
            color: $bodyTextColorAlt;
            border-radius: 0.5rem;
            background-color: #1b2326;
            box-shadow: 0 0 20px $headerFooterBackgroundColor;
        }
    }

    .landingLearnMore {
        position: absolute;
        left: 50%;
        bottom: 5rem;
        transform: translateX(-50%);
        text-decoration: none;
        text-align: center;
        color: $bodyTextColor;

        .landingFAIcon {
            font-size: 2rem;
            transition: all 0.5s ease 0s;
        }

        div {
            font-size: 1.2rem;
            transition: all 0.5s ease 0s;
        }

        &:hover > .landingFAIcon {
            transform: scale(1.05) translateY(-0.2rem);
            filter: drop-shadow(0 0 10px $highlightColor);
        }

        &:hover > div {
            transform: scale(1.1);
            text-shadow: 0 0 20px $highlightColor;
        }
    }
}

@media all and (max-width: 960px){
    .landing {
        .landingFlag {
            display: none;
        }

        .landingContent {
            .landingHeader {
                font-size: 1.4rem;
            }

            .landingOverview {
                font-size: 1.2rem;
            }
        }

        .landingLearnMore {
            .landingFAIcon {
                font-size: 1.6rem;
            }

            div {
                font-size: 1.1rem;
            }
        }
    }
}

@media all and (max-width: 720px){
    .landing {
        .landingContent {
            align-items: center;
            text-align: center;
        }
    }
}

@media all and (max-width: 480px){
    .landing {
        .landingContent {
            .landingHeader {
                font-size: 1.2rem;
            }

            .landingOverview {
                font-size: 1rem;
            }
        }

        .landingLearnMore {
            .landingFAIcon {
                font-size: 1.2rem;
            }

            div {
                font-size: 1rem;
            }
        }
    }
}