@import "../../../styles/index.scss";

header {
    position: fixed;
    top: 0;
    padding: 1rem 5rem;
    width: 100%;
    height: 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: $headerFooterBackgroundColor;
    box-shadow: 0 0 25px $headerFooterBackgroundColor;
    transition: all 0.5s ease-in-out 0s;
    z-index: 500;

    .logoContainer {
        text-decoration: none;
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        img {
            display: none;
        }

        div {
            padding: 0 0.7rem;
            color: $bodyTextColor;
            font-size: 1.2rem;
            transition: all 0.3s ease 0s;

            &:hover {
                transform: scale(1.05);
                filter: drop-shadow(0 0 5px #fff)
            }
        }
    }

    .navContainer {
        position: relative;
        
        .navLinks {
            li {
                list-style-type: none;
                display: inline-block;
                padding: 0.6rem;
                color: $bodyTextColor;
                font-size: 0.9rem;
                font-weight: 300;
                transition: all 0.3s ease 0s;
                
                &:hover {
                    color: $highlightColorAlt;
                    text-shadow: 0 0 10px $highlightColorAlt;
                }

                Link, AnchorLink {
                    text-decoration: none;
                }
            }

            #whitehackText {
                color: $highlightColor;
                font-weight: 400;
                animation: whitehackPulse 3s ease-in-out forwards infinite;

                &:hover {
                    transform: scale(1.05);
                }
                @keyframes whitehackPulse {
                    0% {
                        text-shadow: 0 0 0px $highlightColor;
                    }
                    25% {
                        text-shadow: 0 0 10px $highlightColor;
                    }
                    50% {
                        text-shadow: 0 0 0px $highlightColor;
                    }
                    75% {
                        text-shadow: 0 0 20px $highlightColor;
                    }
                    100% {
                        text-shadow: 0 0 0px $highlightColor;
                    }
                }
            }
        }
    }
}

header.top {
    background-color: transparent;
    box-shadow: none;
}

header.fadeUp {
    top: -100px;
}

@media all and (max-width: 960px){
    .hamburgerContainer {
        margin: 3rem;
        padding: 0.9rem 0.2rem;
        position: fixed;
        right: 0;
        z-index: 1000;

        .hamburgerMenu {
            width: 2rem;
            height: 0.2rem;
            background-color: $highlightColor;
            border-radius: 0.1rem;
            transition: all 0.3s ease 0s;
        }

        .hamburgerMenu::before, .hamburgerMenu::after {
            content: '';
            position: absolute;
            width: 2rem;
            height: 0.2rem;
            background-color: $highlightColor;
            border-radius: 0.1rem;
            transition: all 0.3s ease 0s;
        }

        .hamburgerMenu::before {
            transform: translateY(-0.7rem)
        }

        .hamburgerMenu::after {
            transform: translateY(0.7rem)
        }

        .hamburgerMenu.open {
            transform: translateX(-5em);
            background-color: transparent;
        }

        .hamburgerMenu.open::before {
            transform: rotate(45deg) translate(3.5em, -3.5em);
        }
    
        .hamburgerMenu.open::after {
            transform: rotate(-45deg) translate(3.5em, 3.5em);
        }
    }

    .hamburgerContainer:focus {
        outline: 0;
    }

    header {
        padding: 5rem;
        width: 50vw;
        height: 100vh;
        right: -80vw;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
        border-radius: 5rem 0 0 1rem;

        .logoContainer {
            img {
                display: block;
                width: 5rem;
            }

            div {
                display: none;
            }
        }

        .navContainer {
            .navLinks {
                Link, a {
                    text-decoration: none;
                }

                li {
                    display: block;
                    padding: 1.5rem;
                    text-align: center;
                }
            }
        }
    }

    header.open {
        right: 0;
    }

    header.top {
        background-color: $headerFooterBackgroundColor;
    }

    header.fadeUp {
        top: 0;
    }
}

@media all and (max-width: 480px){
    header {
        width: 75vw;
    }
}