@import "../../../styles/index.scss";

header {
    position: fixed;
    top: 0;
    padding: 1rem 5rem;
    width: 100%;
    height: 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: $bodyTextColor;
    box-shadow: 0 0 50px $bodyTextColor;
    transition: all 0.5s ease-in-out 0s;
    z-index: 500;

    .logoContainer {
        text-decoration: none;
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        img {
            width: 4rem;
            transition: all 0.3s ease 0s;

            &:hover {
                transform: rotate(-15deg) scale(1.05);
                border-radius: 50%;
                filter: drop-shadow(0 0 5px #fff)
            }
        }

        div {
            padding: 0 0.7rem;
            color: $backgroundColor;
            font-size: 1.2rem;
        }
    }

    .navContainer {
        position: relative;
        
        .navLinks {
            li {
                list-style-type: none;
                display: inline-block;
                padding: 0.6rem;
                color: $backgroundColor;
                font-size: 0.9rem;
                font-weight: 300;
                transition: all 0.3s ease 0s;
                
                &:hover {
                    color: $highlightColorAlt;
                    text-shadow: 0 0 10px $highlightColorAlt;
                }

                a {
                    text-decoration: none;
                }
            }

            #whitehackText {
                color: $highlightColor;
                font-weight: 400;
                animation: whitehackPulse 3s ease-in-out forwards infinite;

                &:hover {
                    transform: scale(1.05);
                }
                @keyframes whitehackPulse {
                    0% {
                        text-shadow: 0 0 0px $highlightColor;
                    }
                    25% {
                        text-shadow: 0 0 10px $highlightColor;
                    }
                    50% {
                        text-shadow: 0 0 0px $highlightColor;
                    }
                    75% {
                        text-shadow: 0 0 20px $highlightColor;
                    }
                    100% {
                        text-shadow: 0 0 0px $highlightColor;
                    }
                }
            }
        }
    }
}

header.fadeUp {
    top: -100px;
}