@import "../../../styles/index.scss";

.allArticles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

@media all and (max-width: 680px){
    .allArticles {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
}