@import '../../../styles/index.scss';

footer {
    width: 100%;
    height: 15rem;
    background-color: $headerFooterBackgroundColor;

    .footerBar {
        position: relative;
        top: -2px;
        width: 100%;
        height: 2px;
        background-color: $highlightColor;
        box-shadow: 0 0 10px $highlightColor;
    }

    .footerContent {
        height: 14rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img {
            width: 100px;
            transition: all 0.3s ease 0s;

            &:hover {
                transform: scale(1.05);
                filter: drop-shadow(0 0 5px $bodyTextColor);
            }
        }

        div {
            padding-top: 0.5rem;
            color: $bodyTextColorAlt;
        }

        #developedBy {
            padding-top: 1.5rem;
            font-size: 0.8rem;
            font-weight: 300;
            color: $highlightColor;
            opacity: 0.8;
        }
    }
}

@media all and (max-width: 960px){
    footer {
        .footerContent {
            img {
                width: 80px;
            }
        }
    }
}

@media all and (max-width: 480px){
    footer {
        .footerContent {
            img {
                width: 70px;
            }
        }
    }
}