@import '../../../styles/index.scss';

footer {
    width: 100%;
    height: 250px;
    background-color: $bodyTextColor;

    .footerBar {
        position: relative;
        top: -5px;
        width: 100%;
        height: 5px;
        background-color: $highlightColor;
        box-shadow: 0 0 10px $highlightColor;
    }

    .footerContent {
        height: 240px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img {
            width: 100px;
        }

        div {
            color: $backgroundColorAlt;
        }

        #developedBy {
            padding-top: 1.5rem;
            font-size: 0.8rem;
            font-weight: 300;
            color: $highlightColor;
            opacity: 0.8;
        }
    }
}